$blur: 10px;

$image-url: "https://images.unsplash.com/photo-1460388052839-a52677720738?crop=entropy&fit=crop&fm=jpg&h=1080&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1920";
$image-url: "https://images.unsplash.com/photo-1447958374760-1ce70cf11ee3?crop=entropy&fit=crop&fm=jpg&h=1080&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1920";

$base-border-radius: 3px;
$button-background: #697ec4;

$auth-height: 440px;
$auth-width: 780px;

html {
	box-sizing: border-box;
	color: #444;
	font: 1rem/1.5 Lato;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

.auth-wrap-background {
	background-image: url($image-url);
	background-size: cover;
	background-position: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.auth-center {
	align-items: center;
	display: flex;
	justify-content: center;
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
}

.auth-blur {
	filter: blur($blur);
	// backdrop-filter: blur(20px);
	overflow: hidden;
}

.auth-size {
	max-height: $auth-height;
	max-width: $auth-width;
	height: $auth-height;
	width: 100%;
}

.auth__inner {
	display: flex;
	overflow: hidden;
}

.auth__inner__section {
	padding: 1.25rem 2rem;
}

.auth__sidebar {
	background: rgba(white, 0.5);
	flex: 40%;
}

.auth__form {
	background: hsla(220, 10%, 15%, 0.8);
	flex: 45%;
}

.form {
}

.form__title {
	color: rgba(white, 0.95);
	font-size: 1.125rem;
	font-weight: 900;
	letter-spacing: 1px;
	padding: 0 0 1rem 0;
	text-align: center;
	text-transform: uppercase;
}

.form__label {
	padding-bottom: 1.25rem;
	display: block;
}

.form__label__text {
	color: rgb(135, 144, 156);
	font-weight: 700;
	font-size: rem(11px);
	text-transform: uppercase;
}

.form__input {
	background: transparent;
	color: rgba(white, 0.8);
	border: 0;
	border-bottom: 2px solid transparent;
	display: block;
	outline: 0;
	position: relative;
	padding: 10px 0px;
	width: 100%;

	&:focus {
		border-color: 2px solid rgba(white, 0.5);
	}
}

.form__input-border {
	border-bottom: 1px solid rgb(135, 144, 156);
	display: block;
}

.button {
	background: $button-background;
	border-radius: $base-border-radius;
	border: 0;
	color: #fff;
	display: block;
	line-height: 60px;
	margin-top: 70px;
	outline: 0;
	width: 100%;
}

.form__meta {
	font-size: rem(11px);
	padding: 10px 0;
}
